/* верхнее меню */
.topMenu {
    width: 50vw;
    height: 4vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav {
    z-index: 3;
}
nav > div > a {
    position: relative;
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.375em;
    line-height: 58px;
    text-transform: lowercase;
    color: #000000;
}

a::before {
    background: black;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    border-radius: 8px;
  }
  
  a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  span:hover {
    color: white;
    transition: 0.6s;
  }

hr {
    opacity: 0.4;
    margin: 0 auto;
    width: 95vw;
    border: 1px solid #000000;
}



.bookScroll {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 42vw;
}

.img1 {
    top: -16%;
    left: 4%;
    width: 1328px;
    position: absolute;
    
}

/* бегущая строка */
.confRunLine {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 15vw;
}

.tconf {
    left: 2%;
    position: absolute;
}

.bconf {
    left: 5%;
    position: absolute;
    top: 67%;
}

.runLine {
    top: 42.5%;
    position: relative;
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 196vw;
    height: 74px;
}

.lineTxt {
    font-family: 'Ramka';
    font-style: normal;
    font-weight: 400;
    font-size: 73px;
    line-height: 114%;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
    animation: runTxtLine 3s infinite linear;

}

.lineTxt::after {
    content: "livebrary / livebrary /livebrary / livebrary /livebrary / livebrary /livebrary / ";
}

@keyframes runTxtLine {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
    
}

.info__block {
    height: 24vw;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.info__txt {
    padding: 70px 50px 20px 70px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 114%;
}

.info__img__size {
    transform: rotate(25deg);
    height: 378px;
    width: 713px;
}

.flex__container {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
}

.flex__image2, .flex__image3, .flex__image4 {
    margin: 0px 0px 0px 15px;
}