body {
    font-size: 16px;
}


.welcomeSection {
    height: 50vw;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.headline {
    position: absolute;
    top: 25%;
    left: 26%;

    width: 687px;
    height: 342px;
    z-index: 2;
    font-family: 'Ramka';
    font-style: normal;
    font-weight: 400;
    font-size: 9.313em;
    line-height: 114%;
    text-align: center;
    color: #000000;
}

.lbrary {
    color: white;
}

.txtBg {
    z-index: 1;
    top: 49%;
    position: absolute;
    background-color: black;
    height: 140px;
    width: 340px;
    border-radius: 20px;
    left: 40.5%;
}

.babaka1 {
    transform: rotate(-25deg);
    left: -12%;
    top: 38%;
    width: 767px;
    height: 432px;
    z-index: 1;
    position: absolute;
}

.babaka2 {
    left: 53%;
    top: 28%;
    width: 943px;
    height: 530px;
    z-index: 1;
    position: absolute;
}

.conf {
    top: 7%;
    left: 5%;
    transform: scale(0.95);
    position: absolute;
}

.images-parallax__item:nth-child(4) {
    display: none;
}

.runLine {
    position: relative;
    align-items: center;
    display: flex;
    overflow: hidden;
    height: 8vw;
    width: 100vw;
}

.linetxt {
    
    width: 3522px;
    position: absolute;
    font-family: 'Ramka';
    font-style: normal;
    font-weight: 400;
    font-size: 79px;
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    animation: runtxtline 8s infinite linear;
}

.linetxt::after {
    content: "узнайте о наших событиях / поучаствуйте в наших экскурсиях / посетите наш магазин / ";
}

@keyframes runtxtline{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}



.parallax {
    min-height: 100vh;

}

.parallax__body {
    position: fixed;
    width: 100%;
    height: 100%;
    /* top: 0; */
    left: 0;
}


.parallax__images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    
}


.images-parallax__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.images-parallax__conf, .images-parallax__babaka1, .images-parallax__babaka2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;

} 

.images-parallax__conf {
    top: 0;

}

@media only screen and (min-width: 1729px) and (max-width: 1920px) {

    .topMenu {
        height: 3vw;
    }

    .headline {
        font-size: 190px;
        width: 834px;
        height: 377px;
        left: 28%;
    }

    .txtBg {
        width: 431px;
        height: 176px;
        border-radius: 25px;
        top: 48%;
        left: 40.8%;
    }

    nav > div > a {
        position: relative;
        text-decoration: none;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 1.7em;
        line-height: 27px;
        height: 27px;
        padding: 5px;
        margin-top: 10px;
        text-transform: lowercase;
        color: #000000;
    }

    .conf {
        top: 13%;
        left: 17%;
        transform: scale(1.4);
        position: absolute;
    }

    .babaka1 {
        transform: rotate(-25deg) scale(1.5);
        left: -7%;
        top: 46%;
    }

    .babaka2 {
        transform: scale(1.3);
        top: 36%;
        left: 60%;
    }

    .linetxt {
        width: 4460px;
        font-size: 100px;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1728px) {
    nav > div > a {
        position: relative;
        text-decoration: none;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 1.7em;
        line-height: 27px;
        height: 27px;
        padding: 5px;
        margin-top: 10px;
        text-transform: lowercase;
        color: #000000;
    }

    .headline {
        font-size: 180px;
        width: 800px;
        height: 357px;
    }

    .txtBg {
        width: 411px;
        height: 168px;
        border-radius: 24px;
        left: 39.6%;
    }

    .conf {
        top: 7%;
        left: 10%;
        transform: scale(1.2);
    }

    .babaka1 {
        transform: scale(1.3);
        left: -12%;
        top: 40%;
    }

    .babaka2 {
        transform: scale(1.2);
        left: 58%;
        top: 37%;
    }

    .linetxt {
        width: 4240px;
        font-size: 95px;
        line-height: 100%;
        text-align: center;
        text-transform: capitalize;
        color: #000000;
    }

}

@media only screen and (min-width: 1279px) and (max-width: 1366px) {
    .headline {
        font-size: 140px;
        width: 672px;
    }

    .txtBg {
        width: 318px;
        height: 130px;
        border-radius: 19px;
        left: 41.2%;
    }

    .conf {
        top: 0%;
        left: 4%;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .headline {
        font-size: 125px;
        width: 599px;
        left: 28%;
    }  
    
    .txtBg {
        width: 285px;
        height: 116px;
        border-radius: 16px;
        top: 47.5%;
        left: 42.6%;
    }

    .conf {
        transform: scale(0.9);
        top: -3%;
        left: 0%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    nav > div > a {
        font-size: 20px;
        margin-top: 5px;
    }

    .welcomeSection {
        height: 61vw;

    }

    .headline {
        top: 30%;
        font-size: 113px;
        width: 530px;  
    }

    .txtBg {
        width: 258px;
        height: 105px;
        border-radius: 15px;
        top: 51%;
        left: 42%;
    }

    .conf {
        top: -4%;
        left: -8%;
        transform: scale(0.85);
    }

    .babaka1 {
        width: 582px;
        height: 327px;
    }

    .babaka2 {
        width: 715px;
        height: 402px;
    }

}

@media only screen and (min-width: 415px) and (max-width: 768px) {
    .welcomeSection {
        top: -30px;
        height: 110vw;
        width: 100vw;
        position: relative;
        overflow: hidden;
    }

    .images-parallax__item:nth-child(1) {
        display: none;
    }

    .images-parallax__item:nth-child(4) {
        display: block;
    }

    .confMOB {
        transform: scale(1.45);
        position: absolute;
        z-index: -1;
        top: 15%;
        left: 20%;
    }


    .headline {
        top: 13%;
        left: 20%;
        width: 449px;
        height: 522px;
        font-size: 152px;        
    }

    .txtBg {
        top: 54%;
        left: 31.5%;
        width: 346px;
        height: 141px;    
        border-radius: 20px;        
    }

    .babaka1 {
        left: -24%;
        top: 58%;
        width: 604px;
        height: 340px;
    }

    .babaka2 {
        display: none;
    }

    .linetxt {
        width: 3100px;
        font-size: 60px;

    }

}

@media only screen and (min-width: 376px) and (max-width: 414px) {
    .welcomeSection {
        height: 184vw;
        width: 100vw;
        position: relative;
        overflow: hidden;
    }

    .images-parallax__item:nth-child(1) {
        display: none;
    }

    .images-parallax__item:nth-child(4) {
        display: block;
    }

    .confMOB {
        transform: scale(1);
        position: absolute;
        z-index: -1;
        top: 4%;
        left: -4%;
    }

    .headline {
        top: 18%;
        left: 18%;
        font-size: 91px;
        width: 270px;
        height: 312px;
    }

    .txtBg {
        width: 208px;
        height: 85px;
        border-radius: 12px;
        left: 30.5%;
        top: 45.5%;
                
    }

    .runLine {
        position: relative;
        align-items: center;
        display: flex;
        overflow: hidden;
        height: 19vw;
        width: 100vw;
    }

    .babaka1 {
        left: -40%;
        top: 55%;
        width: 604px;
        height: 340px;
    }

    .babaka2 {
        display: none;
    }

       
}

@media only screen and (max-width: 375px) {
    .welcomeSection {
        height: 184vw;
        width: 100vw;
        position: relative;
        overflow: hidden;
    }

    .images-parallax__item:nth-child(1) {
        display: none;
    }

    .images-parallax__item:nth-child(4) {
        display: block;
    }

    .confMOB {
        transform: scale(0.9);
        position: absolute;
        z-index: -1;
        top: 0%;
        left: -10%;
    }

    .headline {
        top: 18%;
        left: 16%;
        font-size: 85px;
        width: 270px;
        height: 312px;
    }

    .txtBg {
        width: 203px;
        height: 85px;
        border-radius: 12px;
        left: 30.5%;
        top: 45.5%;
    }

    .runLine {
        position: relative;
        align-items: center;
        display: flex;
        overflow: hidden;
        height: 19vw;
        width: 100vw;
    }

    .babaka1 {
        left: -40%;
        top: 55%;
        width: 519px;
        height: 298px;
    }

    .babaka2 {
        display: none;
    }

       
}



